@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');



#root{
  background: rgb(0, 0, 0);
}



  .App {
 position: relative;
  width: 100%;
  height: 2048px;
  background: #013070;

}

.Fond{

position: absolute;
width: 100%;
height: 1024px;
left: 0px;
top: 0px;
z-index: 1;
border-bottom: solid 2px  rgba(0, 0, 0, 0.5) ;
}

.Barre{
  position: absolute;
width: 100%;
height: 82px;
left: 0px;
top: 0px;
z-index: 2;

background: rgba(0, 0, 0, 0.3);
}

.logoDroit{
  position: absolute;
width: 63px;
height: 63px;
left: 19px;
top: 10px;
z-index: 3;
border: solid 2px red;
}

.texte{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;  
  border: solid 2px red;
}

.Qui{
  position: absolute;
  width: 256px;
  height: 45px;
  left: 60%;
  top: 19px;
  color: white;
  z-index: 3;
  border: solid 2px red;
}

.contact{
  position: absolute;
  width: 216px;
  height: 45px;
  left: 30%;
  top: 19px;
  color: white;
  z-index: 3;
  border: solid 2px red;
}



.Logo{
  position: absolute;
width: 409px;
height: 465px;
left: 55%;
top: 279px;
margin-right: 2%;
z-index: 3;
border: solid 2px red;
}

.TextePrincipal{
  position: absolute;
width: 552px;
height: 85px;
left: 15%;
top: 500px;
font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 86px;
z-index: 3;
color: #957333;
border: solid 2px red;
}


.logo1{
  left: 15%;
  position: absolute;
  z-index: 3;
  border: solid 2px red;
}

.Iconreseaux{

  top: 614px;
  position: absolute;
  z-index: 3;  
  border: solid 2px red;
}



.TextHistoire{
  position: relative;
width: 1000px;
height: 384px;
left: 10%;
top: 1071px;

font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
border: solid 2px red;
color: #FFFFFF;
}





.Titre{

position: absolute;

left: 15%;
top: 1515px;

font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 65px;
border: solid 2px red;
color: #957333;
}

.Image1{
  position: absolute;
  width: 350px;
  height: 350px;
  left: 20%;
  top: 1600px;
  border: solid 2px red;
}

.Image2{
  position: absolute;
  width: 350px;
  height: 350px;
  left: 60%;
  top: 1600px;
  border: solid 2px red;
}

.rectangle{
  position: absolute;
  width: 100%;
  height: 81px;
  left: 0px;
  top: 1967px;

  background: rgba(0, 0, 0, 0.3);
}
.droit{
  position: absolute;
  width: 184px;
  height: 17px;
  left: 50%;
  top: 1999px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;

  color: white;
  z-index: 3;
  border: solid 2px red;
}




@media (max-width: 1300px){

  .TextHistoire{
   
    position: relative;
    left: 10%;
    top: 1071px;   
    font-family: 'Abril Fatface';
    font-style: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    
    color: white;
  }
  .Iconreseaux{
    position: absolute;
    z-index: 3;  
    top: 800px;
    
  }

  .logo1{
    left: 25%;
    position: absolute;
    z-index: 3;
  }
  .TextePrincipal{
    position: relative;
  width: 552px;
  height: 85px;
  left: 20%;
  top: 119px;
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 86px;
  z-index: 3;
  color: #957333;
  

  }
  .Logo{
    position: absolute;
  width: 409px;
  height: 465px;
  left: 20%;
  top: 279px;
  z-index: 3;
  }
  .App {
 
    width: 100%;
    height: 2500px;
    background: #013070;
    position: absolute;
  
  }

  .rectangle{
    position: absolute;
    width: 100%;
height: 82px;  
    top: 2419px;
  
    background: rgba(0, 0, 0, 0.3);
  }

  .droit{
    position: absolute;
    width: 184px;
    height: 17px;
    left: 50%;
    top: 2450px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
  
    color: white;
    z-index: 3;
  }
  
  .Image1{
    position: absolute;
    width: 350px;
    height: 350px;
    left: 20%;
    top: 1650px;
    
  }
  
  .Image2{
    position: absolute;
    width: 350px;
    height: 350px;
    left: 20%;
    top: 2050px;
  }
  

  .TextHistoire{
    position: relative;
  width: 1000px;
  height: 384px;
  left: 10%;
  top: 1000px;
  
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;

  color: #FFFFFF;
  }
  
  
  .Titre{

    position: absolute;

    left: 15%;
    top: 1550px;
    
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    
    color: #957333;
    }
    
  

  }

  @media (max-width: 1100px){
    .TextHistoire{
      position: relative;
    width: 1000px;
    height: 384px;
    left: 10%;
    top: 1000px;
    
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 32px;
  
    color: #FFFFFF;
    }
    

  }



  @media (max-width: 800px){

    .Qui{
      position: absolute;
      width: 256px;
      height: 45px;
      left: 60%;
      top: 19px;
      color: white;
      z-index: 3;
      font-size: 20px;
    }
    
    .contact{
      position: absolute;
      width: 216px;
      height: 45px;
      left: 20%;
      top: 19px;
      color: white;
      z-index: 3;
      font-size: 20px;
    }

  }


  
  @media(max-width: 700px){
 
    .App {
      position: relative;
      width: 375px;
      height: 2436px;
      
      background: #013070;
    }
     .Fond{
     
      position: absolute;
      width: 375px;
      height: 819px;
      left: 0px;
      top: 0px;
     }
     
     .Barre{
      position: absolute;
      width: 374px;
      height: 49px;
      left: 0px;
      top: 0px;
      
      background: rgba(0, 0, 0, 0.3);
     }
     
     .logoDroit{
      position: relative;
      width: 32px;
      height: 32px;
      left: 6px;
      top: 7px;
     }
     
 
     
     .Qui{
      position: absolute;
      width: 133px;
      height: 19px;
      left: 55px;
      top: 14px;
      
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      
      color: #FFFFFF;
      
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     }
     
     .contact{
      position: absolute;
      width: 108px;
      height: 20px;
      left: 214px;
      top: 14px;
      
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      
      color: #FFFFFF;
      
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     }
     
     
     
     .Logo{
      position: absolute;
      width: 312px;
      height: 355px;
      left: 24px;
      top: 232px;
     }
     
     .TextePrincipal{
      position: absolute;
      width: 342px;
      height: 61px;
      left: 22px;
      top: 116px;
      
      font-family: 'Abril Fatface';
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 54px;
      
      color: #957333;
      
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     }
     
     
     .logo1{
       left: 10%;
       position: absolute;
       z-index: 3;
       border: solid 2px red;
     }
     
     .Iconreseaux{
     
       top: 614px;
       position: absolute;
       z-index: 3;  
     
     }
     
     
     
     .TextHistoire{
      position: absolute;
      width: 311px;
      height: 756px;
      left: 41px;
      top: 873px;
      
      font-family: 'Abril Fatface';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      
      color: #FFFFFF;
     }
     
     
     
     
     
     .Titre{
     
      position: absolute;
      width: 312px;
      height: 85px;
      left: 41px;
      top: 1654px;
      
      font-family: 'Abril Fatface';
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 49px;
      
      color: #957333;
      
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     }
     
     .Image1{
      position: absolute;
      width: 263px;
      height: 263px;
      left: 41px;
      top: 1776px;
     }
     
     .Image2{
      position: absolute;
      width: 263px;
      height: 263px;
      left: 41px;
      top: 2064px;
      
     }
     
     .rectangle{
      position: absolute;
      width: 378px;
      height: 51px;
      left: -2px;
      top: 2385px;
      
      background: rgba(0, 0, 0, 0.3);
     }
     .droit{
 /* Tout droits réservé - Sorb’Hérauts */


position: absolute;
width: 184px;
height: 17px;
left: 96px;
top: 2402px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 16px;
/* identical to box height */


color: #FFFFFF;

     }
     
     
  }